.lock
/.idea/
/.idea/dictionaries
/ruv.iml
/ruv_db
/webapps/
/classes/
/*.log
/*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/ruv.jar
/ruvservice.jar
/ruv_test_db
/README_win.txt
/ruv.log.lck
/bin
/.classpath
/.project
/.settings/
/compile.bat
/test/classes/
*.csv
/jre
/dist
deploy.sh
/resource/ruv.manifest.mf
/resource/ruvservice.manifest.mf
/ruv.exe
/ruvservice.exe
/bundles
*.patch
/addons/classes/
/addons/src/*.java
/out
/ardor
/ardor.exe
/ardorservice.exe
